In [15]:
import matplotlib.pyplot as plt
import pandas as pd

In [16]:
df = pd.read_csv('ndv.csv')

In [17]:
def ndv_bin_percentages(data_type):
    # higher ndv means more distinct values
    # ndv = number distinct values / total number of rows
    bin1 = df[(df['data_type'] == data_type) & (df['ndv'] > 0) & (df['ndv'] <= 1e-05)].shape[0]
    bin2 = df[(df['data_type'] == data_type) & (df['ndv'] > 1e-05) & (df['ndv'] <= 1e-04)].shape[0]
    bin3 = df[(df['data_type'] == data_type) & (df['ndv'] > 1e-04) & (df['ndv'] <= 1e-03)].shape[0]
    bin4 = df[(df['data_type'] == data_type) & (df['ndv'] > 1e-03) & (df['ndv'] <= 1e-02)].shape[0]
    bin5 = df[(df['data_type'] == data_type) & (df['ndv'] > 1e-02) & (df['ndv'] <= 1e-01)].shape[0]
    bin6 = df[(df['data_type'] == data_type) & (df['ndv'] > 1e-01) & (df['ndv'] <= 1)].shape[0]

    total_size = df[(df['data_type'] == data_type)].shape[0]

    bin1p = bin1/total_size
    bin2p = bin2/total_size
    bin3p = bin3/total_size
    bin4p = bin4/total_size
    bin5p = bin5/total_size
    bin6p = bin6/total_size
    
    bins = [bin1p,
            bin2p,
            bin3p,
            bin4p,
            bin5p,
            bin6p]

    
    result = pd.DataFrame({'ndv':['(0.0, 1e-05]', '(1e-05, 1e-04]', '(1e-04, 1e-03]','(1e-03, 1e-02]', '(1e-02, 1e-01]', '(1e-01, 1]'],
                          '% of dataset':[bin1p, bin2p, bin3p, bin4p, bin5p, bin6p],
                          'cumulative': [sum(bins[0:1]), sum(bins[0:2]), sum(bins[0:3]), sum(bins[0:4]), sum(bins[0:5]), sum(bins[0:6])]})
    return result

In [18]:
int_df = ndv_bin_percentages('int')

In [19]:
print(int_df.to_markdown())

|    | ndv            |   % of dataset |   cumulative |
|---:|:---------------|---------------:|-------------:|
|  0 | (0.0, 1e-05]   |      0.114286  |     0.114286 |
|  1 | (1e-05, 1e-04] |      0.0571429 |     0.171429 |
|  2 | (1e-04, 1e-03] |      0.0619048 |     0.233333 |
|  3 | (1e-03, 1e-02] |      0.0714286 |     0.304762 |
|  4 | (1e-02, 1e-01] |      0.104762  |     0.409524 |
|  5 | (1e-01, 1]     |      0.590476  |     1        |

In [22]:
float_df = ndv_bin_percentages('float')
float_df

              ndv  % of dataset  cumulative
0    (0.0, 1e-05]      0.000000    0.000000
1  (1e-05, 1e-04]      0.032258    0.032258
2  (1e-04, 1e-03]      0.161290    0.193548
3  (1e-03, 1e-02]      0.322581    0.516129
4  (1e-02, 1e-01]      0.354839    0.870968
5      (1e-01, 1]      0.096774    0.967742

In [23]:
print(float_df.to_markdown())

|    | ndv            |   % of dataset |   cumulative |
|---:|:---------------|---------------:|-------------:|
|  0 | (0.0, 1e-05]   |      0         |    0         |
|  1 | (1e-05, 1e-04] |      0.0322581 |    0.0322581 |
|  2 | (1e-04, 1e-03] |      0.16129   |    0.193548  |
|  3 | (1e-03, 1e-02] |      0.322581  |    0.516129  |
|  4 | (1e-02, 1e-01] |      0.354839  |    0.870968  |
|  5 | (1e-01, 1]     |      0.0967742 |    0.967742  |

In [24]:
str_df = ndv_bin_percentages('string')
str_df

              ndv  % of dataset  cumulative
0    (0.0, 1e-05]      0.072165    0.072165
1  (1e-05, 1e-04]      0.061856    0.134021
2  (1e-04, 1e-03]      0.051546    0.185567
3  (1e-03, 1e-02]      0.113402    0.298969
4  (1e-02, 1e-01]      0.144330    0.443299
5      (1e-01, 1]      0.546392    0.989691

In [25]:
print(str_df.to_markdown())

|    | ndv            |   % of dataset |   cumulative |
|---:|:---------------|---------------:|-------------:|
|  0 | (0.0, 1e-05]   |      0.0721649 |    0.0721649 |
|  1 | (1e-05, 1e-04] |      0.0618557 |    0.134021  |
|  2 | (1e-04, 1e-03] |      0.0515464 |    0.185567  |
|  3 | (1e-03, 1e-02] |      0.113402  |    0.298969  |
|  4 | (1e-02, 1e-01] |      0.14433   |    0.443299  |
|  5 | (1e-01, 1]     |      0.546392  |    0.989691  |

In [7]:
ndv_bin_percentages('timestamp')

              ndv  % of dataset  cumulative
0    (0.0, 1e-05]           0.0         0.0
1  (1e-05, 1e-04]           0.0         0.0
2  (1e-04, 1e-03]           0.0         0.0
3  (1e-03, 1e-02]           0.0         0.0
4  (1e-02, 1e-01]           0.0         0.0
5      (1e-01, 1]           1.0         1.0