In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('null_ratio.csv')

In [3]:
df.head()

  table_name data_type       column_name  null_count  row_count  null_ratio
0     assays       int          assay_id           0    1610596    0.000000
1     assays       int            doc_id           0    1610596    0.000000
2     assays       int      assay_tax_id      170340    1610596    0.105762
3     assays       int               tid           0    1610596    0.000000
4     assays       int  confidence_score           0    1610596    0.000000

In [9]:
def null_ratio_bin_percentages(data_type):
    # null ratio = # of nulls / total number of rows
    # higher null ratio means more nulls
    bin0 = df[(df['data_type'] == data_type) & (df['null_ratio'] == 0)].shape[0]
    bin1 = df[(df['data_type'] == data_type) & (df['null_ratio'] > 0) & (df['null_ratio'] <= 1e-05)].shape[0]
    bin2 = df[(df['data_type'] == data_type) & (df['null_ratio'] > 1e-05) & (df['null_ratio'] <= 1e-04)].shape[0]
    bin3 = df[(df['data_type'] == data_type) & (df['null_ratio'] > 1e-04) & (df['null_ratio'] <= 1e-03)].shape[0]
    bin4 = df[(df['data_type'] == data_type) & (df['null_ratio'] > 1e-03) & (df['null_ratio'] <= 1e-02)].shape[0]
    bin5 = df[(df['data_type'] == data_type) & (df['null_ratio'] > 1e-02) & (df['null_ratio'] <= 1e-01)].shape[0]
    bin6 = df[(df['data_type'] == data_type) & (df['null_ratio'] > 1e-01) & (df['null_ratio'] <= 1)].shape[0]

    total_size = df[(df['data_type'] == data_type)].shape[0]

    bin0p = bin0/total_size
    bin1p = bin1/total_size
    bin2p = bin2/total_size
    bin3p = bin3/total_size
    bin4p = bin4/total_size
    bin5p = bin5/total_size
    bin6p = bin6/total_size
    
    bins = [bin0p,
            bin1p,
            bin2p,
            bin3p,
            bin4p,
            bin5p,
            bin6p]

    
    result = pd.DataFrame({'null_ratio':['0','(0.0, 1e-05]', '(1e-05, 1e-04]', '(1e-04, 1e-03]','(1e-03, 1e-02]', '(1e-02, 1e-01]', '(1e-01, 1]'],
                          '% of dataset':[bin0p, bin1p, bin2p, bin3p, bin4p, bin5p, bin6p],
                          'cumulative': [sum(bins[0:1]), sum(bins[0:2]), sum(bins[0:3]), sum(bins[0:4]), sum(bins[0:5]), sum(bins[0:6]), sum(bins[0:7])]})
    return result

In [10]:
null_ratio_bin_percentages('int')

       null_ratio  % of dataset  cumulative
0               0      0.809524    0.809524
1    (0.0, 1e-05]      0.000000    0.809524
2  (1e-05, 1e-04]      0.000000    0.809524
3  (1e-04, 1e-03]      0.009524    0.819048
4  (1e-03, 1e-02]      0.009524    0.828571
5  (1e-02, 1e-01]      0.085714    0.914286
6      (1e-01, 1]      0.085714    1.000000

In [11]:
null_ratio_bin_percentages('float')

       null_ratio  % of dataset  cumulative
0               0      0.096774    0.096774
1    (0.0, 1e-05]      0.064516    0.161290
2  (1e-05, 1e-04]      0.000000    0.161290
3  (1e-04, 1e-03]      0.000000    0.161290
4  (1e-03, 1e-02]      0.032258    0.193548
5  (1e-02, 1e-01]      0.419355    0.612903
6      (1e-01, 1]      0.387097    1.000000

In [12]:
null_ratio_bin_percentages('string')

       null_ratio  % of dataset  cumulative
0               0      0.570447    0.570447
1    (0.0, 1e-05]      0.003436    0.573883
2  (1e-05, 1e-04]      0.003436    0.577320
3  (1e-04, 1e-03]      0.024055    0.601375
4  (1e-03, 1e-02]      0.048110    0.649485
5  (1e-02, 1e-01]      0.065292    0.714777
6      (1e-01, 1]      0.285223    1.000000

In [13]:
null_ratio_bin_percentages('timestamp')

       null_ratio  % of dataset  cumulative
0               0           0.8         0.8
1    (0.0, 1e-05]           0.0         0.8
2  (1e-05, 1e-04]           0.0         0.8
3  (1e-04, 1e-03]           0.0         0.8
4  (1e-03, 1e-02]           0.0         0.8
5  (1e-02, 1e-01]           0.0         0.8
6      (1e-01, 1]           0.2         1.0