In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('value_range.csv')

In [3]:
df.head()

  table_name data_type       column_name min      max
0     assays       int          assay_id   1  2263434
1     assays       int            doc_id   1   124917
2     assays       int      assay_tax_id   2  2905673
3     assays       int               tid   1   120864
4     assays       int  confidence_score   0        9

In [4]:
df=df[(df['data_type']=='int')]

In [5]:
df['min'] = pd.to_numeric(df['min']).astype('Int64')
df['max'] = pd.to_numeric(df['max']).astype('Int64')

In [6]:
df['range'] = df['max'] - df['min']

In [7]:
def value_range_bin_percentages(data_type):
    # null ratio = # of nulls / total number of rows
    # higher null ratio means more nulls
    bin0 = df[(df['data_type'] == data_type) & (df['range'] >= 0) & (df['range'] <= 1)].shape[0]
    bin1 = df[(df['data_type'] == data_type) & (df['range'] > 1) & (df['range'] <= 1e1)].shape[0]
    bin2 = df[(df['data_type'] == data_type) & (df['range'] > 1e1) & (df['range'] <= 1e2)].shape[0]
    bin3 = df[(df['data_type'] == data_type) & (df['range'] > 1e2) & (df['range'] <= 1e3)].shape[0]
    bin4 = df[(df['data_type'] == data_type) & (df['range'] > 1e3) & (df['range'] <= 1e4)].shape[0]
    bin5 = df[(df['data_type'] == data_type) & (df['range'] > 1e4) & (df['range'] <= 1e5)].shape[0]
    bin6 = df[(df['data_type'] == data_type) & (df['range'] > 1e5)].shape[0]
    
    
    total_size = df[(df['data_type'] == data_type)].shape[0]
   
    bin0p = bin0/total_size
    bin1p = bin1/total_size
    bin2p = bin2/total_size
    bin3p = bin3/total_size
    bin4p = bin4/total_size
    bin5p = bin5/total_size
    bin6p = bin6/total_size
    
    bins = [bin0p,
            bin1p,
            bin2p,
            bin3p,
            bin4p,
            bin5p,
            bin6p]

    
    result = pd.DataFrame({'range':['[0.0, 1]','(1, 1e1]', '(1e1, 1e2]', '(1e2, 1e3]','(1e3, 1e4]', '(1e4, 1e5]', '(1e5, inf]'],
                          '% of dataset':[bin0p, bin1p, bin2p, bin3p, bin4p, bin5p, bin6p],
                          'cumulative': [sum(bins[0:1]), sum(bins[0:2]), sum(bins[0:3]), sum(bins[0:4]), sum(bins[0:5]), sum(bins[0:6]), sum(bins[0:7])]})
    return result

In [8]:
value_range_bin_percentages('int')

        range  % of dataset  cumulative
0    [0.0, 1]      0.119048    0.119048
1    (1, 1e1]      0.085714    0.204762
2  (1e1, 1e2]      0.090476    0.295238
3  (1e2, 1e3]      0.085714    0.380952
4  (1e3, 1e4]      0.109524    0.490476
5  (1e4, 1e5]      0.147619    0.638095
6  (1e5, inf]      0.361905    1.000000