In [10]:
import pandas as pd

In [11]:
df = pd.read_csv('value_range.csv')

In [12]:
df.head()

  table_name data_type       column_name min      max
0     assays       int          assay_id   1  2263434
1     assays       int            doc_id   1   124917
2     assays       int      assay_tax_id   2  2905673
3     assays       int               tid   1   120864
4     assays       int  confidence_score   0        9

In [13]:
df=df[(df['data_type']=='string')]

In [14]:
df['min'] = pd.to_numeric(df['min']).astype('Int64')
df['max'] = pd.to_numeric(df['max']).astype('Int64')

In [15]:
df['range'] = df['max'] - df['min']

In [16]:
df[df['range'].isnull()]

              table_name data_type         column_name   min   max  range
46   activity_properties    string            comments  <NA>  <NA>   <NA>
241              domains    string  domain_description  <NA>  <NA>   <NA>
468      site_components    string       site_residues  <NA>  <NA>   <NA>

In [17]:
# The above columns only contain null values
# chembl_33=# select comments from activity_properties where comments is not null;
# (0 rows)

# chembl_33=# select domain_description from domains where domain_description is not null;
# (0 rows)

# chembl_33=# select site_residues from site_components where site_residues is not null;
# (0 rows)

In [18]:
df=df[~df['range'].isnull()]

In [19]:
def value_range_string_percentages(data_type):
    
    # null ratio = # of nulls / total number of rows
    # higher null ratio means more nulls
    bin0 = df[(df['data_type'] == data_type) & (df['range'] >= 0) & (df['range'] <= 5)].shape[0]
    bin1 = df[(df['data_type'] == data_type) & (df['range'] > 5) & (df['range'] <= 10)].shape[0]
    bin2 = df[(df['data_type'] == data_type) & (df['range'] > 10) & (df['range'] <= 25)].shape[0]
    bin3 = df[(df['data_type'] == data_type) & (df['range'] > 25) & (df['range'] <= 50)].shape[0]
    bin4 = df[(df['data_type'] == data_type) & (df['range'] > 50) & (df['range'] <= 100)].shape[0]
    bin5 = df[(df['data_type'] == data_type) & (df['range'] > 100) & (df['range'] <= 1000)].shape[0]
    bin6 = df[(df['data_type'] == data_type) & (df['range'] > 1000)].shape[0]
    
    
    total_size = df[(df['data_type'] == data_type)].shape[0]
   
    bin0p = bin0/total_size
    bin1p = bin1/total_size
    bin2p = bin2/total_size
    bin3p = bin3/total_size
    bin4p = bin4/total_size
    bin5p = bin5/total_size
    bin6p = bin6/total_size
    
    bins = [bin0p,
            bin1p,
            bin2p,
            bin3p,
            bin4p,
            bin5p,
            bin6p
            ]

    
    result = pd.DataFrame({'range':['[0.0, 5]','(5, 10]', '(10, 25]', '(25, 50]','(50, 100]', '(100, 1000]', '(1000, inf)'],
                          '% of dataset':[bin0p, bin1p, bin2p, bin3p, bin4p, bin5p, bin6p],
                          'cumulative': [sum(bins[0:1]), sum(bins[0:2]), sum(bins[0:3]), sum(bins[0:4]), sum(bins[0:5]), sum(bins[0:6]), sum(bins[0:])]})
    return result

In [20]:
value_range_string_percentages('string')

         range  % of dataset  cumulative
0     [0.0, 5]      0.340278    0.340278
1      (5, 10]      0.076389    0.416667
2     (10, 25]      0.138889    0.555556
3     (25, 50]      0.093750    0.649306
4    (50, 100]      0.142361    0.791667
5  (100, 1000]      0.149306    0.940972
6  (1000, inf)      0.059028    1.000000